APP_NAME="Goshgar.Az"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=chat
DB_USER=root
DB_PASS=
DB_CHARSET=utf8

SESSION_NAME=goshgaraz_session
SESSION_LIFETIME=86400

LOG_CHANNEL=daily
LOG_LEVEL=debug
