RewriteEngine on
##Options +FollowSymlinks

php_value date.timezone "Asia/Baku"

php_value error_reporting 0
php_value default_charset UTF-8
php_value register_globals On
ErrorDocument 404 /index.php
ErrorDocument 403 /index.php



RewriteRule ^max\/(.*)$ file/max.php
RewriteRule ^normal\/(.*)$ file/normal.php

<Files *.dat>
order allow,deny
deny from all
</Files>


<Files file>
order allow,deny
deny from all
</Files>

<Files ay.php>
order allow,deny
deny from all
</Files>
