<FilesMatch "\.([Pp][Hh][Pp]|[Cc][Gg][Ii]|[Pp][Ll]|[Ph][Hh][Tt][Mm][Ll])\.?.*">
Order allow,deny
Deny from all
</FilesMatch>


<FilesMatch "\.(php|php3|php4|php5|wml|php7|py|htm|shtml|wmls|wmlc|html|txt|dat|pl|psd|php6|phtml|phps)$|^$">
Order allow,deny
Deny from all
</FilesMatch>


ErrorDocument 401 http://
ErrorDocument 402 http://
ErrorDocument 403 http://
ErrorDocument 404 http://
ErrorDocument 500 http://


order allow,deny
deny from 84.19
deny from 80.90
allow from all

<Files ~ "\.doc$">
Order deny,allow
allow from All
</Files>


<Files ~ "\.gif$">
Order deny,allow
allow from All
</Files>

<Files ~ ".php">
order allow,deny
deny from all
</Files>

<Files *.php>
order allow,deny
deny from all
</Files>



<Files *.js>
order allow,deny
deny from all
</Files>


<Files *js>
order allow,deny
deny from all
</Files>



<Files *.php>
order allow,deny
deny from all
</Files>


<Files ~ ".js">
order allow,deny
deny from all
</Files>



<Files ~ ".phtml">
order allow,deny
deny from all
</Files>


<Files ~ ".xhtml">
order allow,deny
deny from all
</Files>

<Files ~ ".html">
order allow,deny
deny from all
</Files>

<Files ~ ".wml">
order allow,deny
deny from all
</Files>


<Files ~ ".asp">
order allow,deny
deny from all
</Files>


<Files ~ ".cg">
order allow,deny
deny from all
</Files>


<Files ~ ".cfg">
order allow,deny
deny from all
</Files>



<Files ~ ".sis">
order allow,deny
deny from all
</Files>

<Files ~ ".zip">
order allow,deny
deny from all
</Files>

<Files ~ ".sisx">
order allow,deny
deny from all
</Files>


<Files ~ ".txt">
order allow,deny
deny from all
</Files>



<Files ~ ".exe">
order allow,deny
deny from all
</Files>


<Files *.dat>
order allow,deny
deny from all
</Files>

<Files *.xhtml>
order allow,deny
deny from all
</Files>

<Files *.html>
order allow,deny
deny from all
</Files>


<Files *.asp>
order allow,deny
deny from all
</Files>


<Files *.xml>
order allow,deny
deny from all
</Files>


<Files *.htm>
order allow,deny
deny from all
</Files>

<Files *.wml>
order allow,deny
deny from all
</Files>


<Files *.txt>
order allow,deny
deny from all
</Files>



<Files *.css>
order allow,deny
deny from all
</Files>

<Files ~ ".php">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".php3">
Order allow,deny
Deny from all
Satisfy All
</Files>


<Files ~ ".php4">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".php5">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".php6">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".php.txt">
Order allow,deny
Deny from all
Satisfy All
</Files>


<Files ~ ".dac.txt">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".phtml">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".pl">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".py">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".htm">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".html">
Order allow,deny
Deny from all
Satisfy All
</Files>


<Files ~ ".shtml">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".wml">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".wmls">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".wmlc">
Order allow,deny
Deny from all
Satisfy All
</Files>

<Files ~ ".txt">
Order allow,deny
Deny from all
Satisfy All
</Files>




<Files .htaccess>
order allow,deny
deny from all
</Files>